# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Database files
database/*.db

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Temporary files
*.tmp
*.temp 